<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каркас</title>
    <link rel="stylesheet" href="../css/main-framework.css">
    <link rel="stylesheet" href="../css/main-styles.css">
    <!-- Файл адаптивность -->

    <link rel="stylesheet" href="../css-unique/utility-provider-styles.css">
</head>
<body>
<div class="container">
    <header class="element">
        <a href="#" class="Home-btn-logo-m">
            <img src="../img/Logo-Img-Utilities.png" class="Img-logo-m">
        </a>
        <a href="#" class="Home-btn-text-m">
            <img src="../img/Logo-Utilities.png" class="Img-text-m">
        </a>

        <p class="User-name-m">Алексей</p>
        <a href="#" class="Exit-btn-m">
            <img src="../img/Exit.png" class="Img-exit-m">
        </a>
    </header>

    <section class="element">
        <!--                <p class="H-text-t1">Данные о пользователе</p>-->
        <img src="../img/User-info.png" class="Img-text-s">
        <dl>
            <dt><img src="../img/Full-name-Img-sm.png" class="Img-sm-text-s"></dt>
            <dd>
                Череповский Алексей Владимирович
            </dd>
            <dt><img src="../img/Login-Img-sm.png" class="Img-sm-text-s"></dt>
            <dd>
                Ccoder
            </dd>
            <dt><img src="../img/City-Img-sm.png" class="Img-sm-text-s"></dt>
            <dd>
                Луганская область
            </dd>
            <dd>
                Город Сватово
            </dd>
            <dd>
                Переулок Южный 3
            </dd>
            <dt><img src="../img/Contacts-Img-sm.png" class="Img-sm-text-s"></dt>
            <dd>
                +380660391180
            </dd>
            <dd>
                ccoder.alex@gmail.com
            </dd>
        </dl>
    </section>

    <main class="element">
        <section class="provider-full-info">
            <h1>Постващик Вода</h1>
            <p>Адрес...</p>
            <p>Информация полная о поставщике</p>
        </section>

        <section class="pass-CR">
            <h3 class="header-text">Передача показаний</h3>
            <button class="btn-green btn-show-history">
                Посмотреть историю<br>передачи показаний
            </button>
            <div class="date-CR">
                <p>Выбор даты</p>
                <p>передачи показаний</p>
                <input type="date" class="calendar-date">
            </div>
            <div class="first-CR">
                <p>Передача показаний</p>
                <p>счетчика питьевой воды</p>
                <input type="number" class="txt-green" placeholder="99999">
            </div>
            <div class="second-CR">
                <p>Передача показаний</p>
                <p>счетчика воды для полива</p>
                <input type="number" class="txt-green" placeholder="99999">
            </div>
            <button class="btn-green btn-pass-CR">Передать!</button>
        </section>
    </main>

    <footer class="element">
        <div class="Utility-Gas-f">
            <p>ООО ЛУГАНСКГАЗ СБЫТ</p>
            <p>+38 095 058 27 89</p>
        </div>
        <div class="Utility-Elec-f">
            <p>ООО ЭНЕРА ВОСТОК</p>
            <p>+38 064 570 82 70</p>
        </div>
        <div class="Utility-Water-f">
            <p>ВОДОКАНАЛ г. Рубежное</p>
            <p>+38 050 943 01 12</p>
        </div>
    </footer>
</div>
</body>
</html>